<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user_name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url, class: 'img-responsive' if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= timeago_tag micropost.created_at %>.
    <% if current_user?(micropost.user) %>
      <%= link_to 'Delete', micropost, method: :delete, data: { confirm: 'You sure?' } %>
    <% end %>
  </span>
</li>
